<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/png/1f916.png">
    <title>Fun & Games with Angular</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/reveal.css">
    <link rel="stylesheet" href="../css/theme/white.css">
    <link rel="stylesheet" href="../lib/css/monokai.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="reveal">
        <div class="slides">

            <section id="introduction">
                <h3>
                    Fun & Games with Angular
                </h3>
                <img class="image" src="img/video-games.gif">
                <img id="angular-intro" class="image" src="img/angular.png">
                <br>
                <small>
                    Wendy Kong
                    <br>
                    Software Engineer, Pulsifi
                    <br>
                    Lead, Women Who Code KL
                </small>
                <br>
            </section>

            <section id="reason-alternatives">
                Why <u>Angular</u> instead of...
                <br>
                <div class="fragment">
                    <img class="image small p-2 m-3" src="img/phaser.png">
                    <img class="image small p-2 m-3" src="img/pixijs.svg">
                    <img class="image small p-2 m-3" src="img/unreal.png">
                    <br>
                    <img class="image small p-2 m-3" src="img/unity.png">
                    <img class="image medium" src="img/html-css-js.jpg">
                    <br>
                </div>
            </section>

            <section id="reason-personal">
                <div class="mb-5">
                    Reason
                </div>
                <div>
                    1. Because I can <span style="font-size:0.6em">(I think!!)</span>
                    <img class="image pl-3" width="100" src="img/angular.png">
                </div>
                <div>
                    2. To learn RxJS
                    <img class="image small pl-3" width="100" src="img/rxjs.png">
                </div>

            </section>

            <section id="rxjs-streams">
                Games = streams
                <br>
                <img class="image" src="img/space-invaders.gif">
                <br>

                <small class="fragment fade-in">Obstacles,</small>
                <small class="fragment fade-in">Player,</small>
                <small class="fragment fade-in">Score,</small>
                <small class="fragment fade-in">Collision,</small>
                <small class="fragment fade-in">..........</small>

                <div class="row justify-content-center mt-3">
                    <span class="fragment fade-in pr-5">
                        <img class="image small pl-5" src="img/rxjs.png">
                    </span>
                    <div class="speech-bubble fragment fade-in"><small>Hey, I can help!</small></div>
                </div>
            </section>

            <section id="learnrxjs-reference">
                Reference: <a href="http://learnrxjs.io/">http://learnrxjs.io/</a>
                <br>
                <img class="image medium" src="img/rxjs-recipes.png">
            </section>

            <section id="learnrxjs-example"
                data-background-iframe="https://stackblitz.com/edit/rxjs-car-racing?file=index.html">
            </section>

            <section id="demo-text">
                Demo
            </section>

            <section id="demo"
                data-background-iframe="https://wendko.github.io/rxjs-playground/dist/rxjs-playground/index.html">
            </section>

            <section id="game-explanation">
                Walkthrough
            </section>

            <section id="walkthrough-used-rxjs">
                <code>import from 'rxjs'</code>
                <br>
                <small class="mr-3">Observable</small>
                <small class="mr-3">ReplaySubject</small>
                <small class="mr-3">interval</small>
                <small class="mr-3">timer</small>
                <br>
                <code>import from 'rxjs/operators'</code>
                <br>
                <small class="mr-3">delay</small>
                <small class="mr-3">finalize</small>
                <small class="mr-3">fromEvent</small>
                <small class="mr-3">takeUntil</small>
                <small class="mr-3">tap</small>
            </section>

            <section id="walkthrough-stream-food">
                <div class="mt-4">
                    1. A stream of food
                </div>
                <small>Yum yum</small>
                <br>
                <section>
                    <div class="row">
                        <div class="col-4">
                            <video height="400" loop="true" controls autoplay="autoplay" src="img/food-stream.mov"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="col-8">
                            <pre>
                                <code style="font-size:20px;display:inline">
    const spawning$ =
    this.foodService.timeKeeper(true).pipe(
        <mark>tap</mark>(this.spawnItem.bind(this)),
        <mark>takeUntil</mark>(
            this.foodService.timeRunsOut()),
        <mark>takeUntil</mark>(
            this.foodService.gameWonSubject),
        <mark>finalize</mark>(() => {
            this.showGameOver = true;
            this.items = [];
        }),
    );

    spawning$.subscribe();
                                </code>
                            </pre>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-4">
                            <video height="400" loop="true" controls autoplay="autoplay" src="img/food-stream.mov"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="col-8">
                            <pre>
                                <code style="font-size:18px;display:inline">
  spawnItem(): void {
      const positionX = //...randomize;
      const queuedItem = this.queuedItems.pop();
      if (!queuedItem) {
          return;
      }
      this.items.push({ positionX, ...queuedItem });
  }
                                </code>
                            </pre>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-4">
                            <video height="400" loop="true" controls autoplay="autoplay" src="img/food-stream.mov"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="col-8">
                            <pre>
                                <code style="font-size:18px;display:inline">
    const descending$ =
    this.foodService.timeKeeper(
        false, this.movementInterval)
        .pipe(
            <mark>takeUntil</mark>(
                this.clickedEvent),
            <mark>takeUntil</mark>(
                this.foodService.timeRunsOut()),
            <mark>tap</mark>(this.descending.bind(this)),
        );
    descending$.subscribe();
                                </code>
                            </pre>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-4">
                            <video height="400" loop="true" controls autoplay="autoplay" src="img/food-stream.mov"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="col-8">
                            <pre>
                                <code style="font-size:18px;display:inline">
    descending() {
        if (this.positionY <= this.maxHeight) {
            this.positionY += this.movementYUnit;
            this.<mark>positionStyle</mark>.top =
                this.positionY+ 'vh';
        } else {
            this.removeFromDisplay();
        }
    }


  &lt;div [ngStyle]=&quot;positionStyle&quot;&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </section>

            </section>

            <section id="walkthrough-descending">
                <img class="image small" src="img/corn.png" id="corn">
                <div id="cornText"></div>
                <div id="lameJoke"></div>
            </section>

            <section id="walkthrough-stream-click">
                2. Click events
                <br>
                <small>remove from view and update scores/orders</small>
                <br>


                <section>
                    <div class="row">
                        <div class="col-4">
                            <video height="450" loop="true" controls autoplay="autoplay" src="img/click-stream.mov"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="col-8">
                            <pre>
                                <code style="font-size:18px;display:inline">
    this.clickedEvent =
        <mark>fromEvent</mark>(
            this.itemComponent.nativeElement,
            'click');
    this.clickedEvent
        .subscribe(this.<mark>clickedItem</mark>.bind(this));

    clickedItem() {
        // ...stuff
        const orderFulfilled =
            this.foodService.<mark>checkOrder</mark>(this.name);
        // ...stuff
    }
                                </code>
                            </pre>
                        </div>
                    </div>
                </section>


                <section>
                    <div class="row">
                        <div class="col-4">
                            <video height="450" loop="true" controls autoplay="autoplay" src="img/click-stream.mov"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="col-8">
                            <pre>
                                <code style="font-size:16px;display:inline">
  checkOrder(itemName: FoodName | DrinkName): boolean {
      const <mark>currentOrder</mark> = this.getTopOrder();
      const isOrderFound =
          currentOrder.find(item =>
              item.name === itemName && !item.<mark>done</mark>);
      if (isOrderFound) {
          this.<mark>updateOrder</mark>(foundOrder);
          this.<mark>checkGameStatus()</mark>;
          return true;
      } else {
          this.<mark>updateOrder()</mark>;
          return false;
      }
  }
                                </code>
                            </pre>
                        </div>
                    </div>
                </section>


                <section>
                    <div class="row">
                        <div class="col-4">
                            <video height="450" loop="true" controls autoplay="autoplay" src="img/click-stream.mov"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="col-8">
                            <pre>
                                <code style="font-size:15px;display:inline">
   updateOrder(foundOrder: Item = null): void {
       if (!foundOrder) {
           <mark>this.score -= this.scoreUnit</mark>;
           return;
       }
       foundOrder.<mark>done</mark> = true;
       <mark>this.score += this.scoreUnit</mark>;

       const orderFulfilled = this.orders[0].<mark>every</mark>(x => x.done);
       if (orderFulfilled) {
           this.<mark>ordersCompleted$</mark>.next(1);
           <mark>this.orders.shift();</mark>
           this.score += (this.scoreUnit * 2);
       }
   }
                                </code>
                            </pre>
                        </div>
                    </div>
                </section>


                <section>
                    <div class="row">
                        <div class="col-4">
                            <video height="450" loop="true" controls autoplay="autoplay" src="img/click-stream.mov"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="col-8">
                            <pre>
                                <code style="font-size:15px;display:inline">
  const singleOrderFulfilled$ =
      this.foodService.ordersCompletedSubject.pipe(
          tap(x => this.<mark>showOrderFulfilled</mark> = true)
      );

  <mark>singleOrderFulfilled$</mark>.subscribe();

  &lt;div *ngIf=&quot;this.showOrderFulfilled&quot; class=&quot;font-temporary&quot;&gt;
    Extra 2 points for completed order!
  &lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </section>

            </section>

            <section id="walkthrough-stream-timer">
                <div class="mt-5">
                    3. Game over listeners
                </div>
                <small>To end the game when the timer is up or the game is won</small>
                <br>

                <section>
                    <video height="200" loop="true" controls autoplay="autoplay" src="img/timer-stream.mov"
                        type="video/mp4">
                    </video>
                </section>

                <section>
                    <div style="margin-top:120px">
                        <pre>
                                <code style="font-size:15px;display:inline">
    const spawning$ =
        this.foodService.timeKeeper(true).pipe(
            tap(this.spawnItem.bind(this)),
            takeUntil(this.foodService.<mark>timeRunsOut()</mark>),
            takeUntil(this.foodService.<mark>gameWon$</mark>),
            finalize(() => {
                <mark>this.showGameOver = true</mark>;
                this.items = [];
            }),
        );
                                </code>
                            </pre>
                    </div>
                </section>

                <section>
                    <small>
                        Condition 1: game duration
                    </small>
                    <div>
                        <pre>
                                <code style="font-size:15px;display:inline">
    public timeRunsOut(): Observable&lt;number&gt; {
        return <mark>timer</mark>((this.gameDurationInSeconds + 3) * 1000);
    }
                                </code>
                            </pre>
                    </div>
                </section>

                <section>
                    <small>
                        Condition 2: game won
                    </small>
                    <div>
                        <pre>
                            <code style="font-size:15px;display:inline">
    checkGameStatus(): void {
        if (this.orders.length === 0) {
            this.<mark>gameWon</mark> = true;
            this.<mark>gameWon$</mark>.next(true);
        }
    }
                            </code>
                        </pre>
                    </div>
                </section>

                <section>
                    <div style="margin-top:120px">
                        <pre>
                                <code style="font-size:15px;display:inline">
    &lt;div *ngIf=&quot;<mark>showGameOver</mark>&quot;&gt;
        &lt;div *ngIf=&quot;!this.foodService.<mark>gameWon</mark>&quot; class=&quot;font-large&quot;&gt;
            GAME OVER!
        &lt;br&gt;
     Your score is {{foodService.score}}.
    &lt;/div&gt;
        &lt;div *ngIf=&quot;this.foodService.<mark>gameWon</mark>&quot; class=&quot;font-large&quot;&gt;
            YOU WON!
        &lt;br&gt;
    Your score is {{foodService.score}}.
    &lt;/div&gt;
                                </code>
                            </pre>
                    </div>
                </section>

            </section>
            <section id="takeaways">
                <div class="mb-2">
                    Takeaways
                </div>
                <br>
                <ul style="font-size:25px; line-height: 2.5">
                    <li>Creating and handling streams</li>
                    <li>Communication between components</li>
                    <li>Multiple components can share the same subscription</li>
                    <li>Specify a condition for a subscription to stop & do post-processing</li>
                    <li>Manipulating descent with Angular templates</li>
                </ul>
            </section>

            <section id="end">
                Thank you!
                <br>
                <img class="image" src="https://media.tenor.com/images/d7ff43c4bad2da81dca001a9e5006273/tenor.gif">
            </section>

        </div>
    </div>

    <script src="../js/reveal.js"></script>
    <script src="../config.js"></script>
</body>

</html>