h3 {
    font-family: 'Roboto Slab', serif;
}

.image {
    border: none !important;
    box-shadow: none !important;
    border-radius: 10px;
}

.image.small {
     max-width: 180px;
}

.image-xs {
     max-width: 180px;
}

.image.medium {
     max-width: 300px;
}

#angular-intro {
    position: absolute;
    top: 10%;
    left: 23%;
}

#monyet  {
    position: absolute;
    right: 30%;
    bottom: -19%;
}

#celeste {
    object-fit: none;
    width: 420px;
}

.speech-bubble {
    height:100px;
    width: fit-content;
    border-radius:100px;
    background:rgb(255, 230, 234);
    box-shadow: 5px 5px 0px 0px lightpink;
    display: flex;
    padding: 25px;
}

.speech-bubble>* {
    margin:auto;
}

.speech-bubble:before {
    content:"";
    border: 30px solid;
    position: absolute;
    margin-left: -45px;
    border-color: transparent transparent transparent rgb(255, 230, 234);
    transform: rotate(60deg);
}

#corn {
    position: relative;
    top: 550px;
    animation: descending 5s linear;
}

#cornText:after {
    content: "";
    top: -100px;
    left: 200px;
    position: fixed;
    animation: cornText 5s linear;
}

#lameJoke:after {
    content: "a condescending corn descending";
    top:-200px;
    position: relative;
    animation: lameJoke 5s linear;
}

@keyframes cornText {
    0% {
        content: "";
    }
    50% {
        content: "this is awful";
    }
    52%, 100% {
        content: "";
    }
}

@keyframes lameJoke {
    0%,99% {
        content: "";
    }
    100% {
        content: "a condescending corn descending";
    }
}

@keyframes descending {
    0% {
        top: -500px;
    }
    25%, 55% {
        top: -200px;

    }
    100% {
        top: 550px;
    }
}

.heart {
    animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0%,100% {
        transform: scale(0.5);
    }
    30% {
        transform: scale(1);
    }
}

.code-block {
    width:1024px; height:473px; border:0; overflow:hidden;
    transform: scale(1.2)
}

.code-highlight {
    border: 1px dashed yellow;
    position: fixed;
    z-index:1;
    height:20px;
    border-radius:10px;
}

.description-text {
    bottom: 70px;
    position: fixed;
    justify-content: center;
    display: flex;
    background: linear-gradient(pink, lightyellow);
    border-radius: 20px;
    padding: 10px;
    left: 28%;
}
